

<div class="max-w-2xl container mx-auto pt-20">

  <h1 class="font-bold mb-2 text-center text-lg">{{title}}</h1>

  <input 
  type="text"
  class="mb-2 mt-10 border py-2 px-4 w-full"
  placeholder="Input your password.."
  [(ngModel)] = "term"
  >

  <div class="flex justify-center gap-4 mt-5">
    <app-validation-field [term]="term" flag='firstField'></app-validation-field>
    <app-validation-field [term]="term" flag='secondField'></app-validation-field>
    <app-validation-field [term]="term"></app-validation-field>
  </div>
  



</div>